html, body {
    padding: 0px;
    margin: 0px;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

#header {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.console:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#canvasContainer {
    margin: 20px;
}

table {
    margin: 20px;
    border-collapse: collapse;
}
thead > tr> td {
    padding: 15px;
}

tbody > tr > td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

label {
    padding-right: 10px;
    padding-left: 10px;
}

.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin: 20px;
}

.row {
   -webkit-flex-direction: row;
   flex-direction: row;
}

@media(max-width:767px) {
    #canvasContainer {
        width: 500px;
        height: 250px;
    }

    .row {
        -webkit-flex-direction: row;
        flex-direction: column-reverse
    }
}

@media(min-width:768px) {
    #canvasContainer {
        width: 600px;
        height: 300px;
    }
}

/*@media(min-width:992px) {
    #canvasContainer {
        width: 800px;
        height: 400px;
    }
}*/

/*@media(min-width:1200px) {
    #canvasContainer {
        width: 1000px;
        height: 500px;
    }
}*/